#wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#content {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    margin: 0;
    width: 100%;
}

#days {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-margin: 11rem;
    scroll-snap-type: x mandatory;
    width: 100%;
}

#days .cdk-virtual-scroll-content-wrapper {
    display: flex;
    flex-direction: row;
}

.day {
    background-color: var(--color-x);
    border-radius: 0.625rem;
    border: 0.0625rem solid var(--color-z);
    display: flex;
    flex-direction: column;
    max-width: 11rem;
    min-width: 11rem;
    padding: 1.5rem 1rem;
    scroll-snap-align: start;
    width: 11rem;
}

.day.has-schedule:hover {
    background-color: var(--color-e);
    transition: all var(--theme-change-delay) ease-in;
}

.day.has-schedule:hover * {
    color: var(--color-c) !important;
}

.day:not(.has-schedule) {
    pointer-events: none;
}

.day-data {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 2rem;
    width: 100%;
}

.day-data .date {
    color: var(--color-c);
    font-family: var(--font-family-asty);
    font-size: 1.8rem;
    font-weight: 300;
    margin: 0.5625rem 0 0.375rem 0;
    text-align: center;
    width: 3rem;
}

.weekday, .month, .year {
    color: var(--color-c);
    font-family: var(--font-family-asty);
    font-size: 1rem;
    font-weight: 300;
}

.year {
    margin-top: 0.5rem;
}

.day.has-schedule {
    cursor: pointer;
}

.no-reservation-data {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.no-reservation-data span {
    color: #00000023 !important;
    font-size: 4rem;
}

.reservation-data {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.reservation {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    width: 100%;
}

.destinations {
    border-radius: 0.625rem;
    color: var(--color-c);
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-asty);
    font-size: 0.8rem;
    font-weight: 300;
    justify-content: space-between;
    padding: 1rem;
}

.destination-description {
    margin-bottom: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    transform: scale(1, 1.5);
    white-space: nowrap;
}

.ports {
    display: flex;
    justify-content: space-between;
}

.pax {
    color: var(--color-c);
    font-family: var(--font-family-asty);
    font-size: 1.5rem;
    font-weight: 100;
    margin: auto auto 1rem auto;
    text-align: center;
}

.saturday {
    background-color: var(--color-background-saturday);
}

.sunday {
    background-color: var(--color-background-sunday);
}

.is-today {
    background-color: var(--color-background-today) !important;
}

.saturday *, .sunday *, .today * {
    color: var(--color-a) !important;
    font-weight: 300;
}

#goto-today-button {
    background-color: transparent !important;
    margin: 0 1rem 0 auto !important;
}

.mat-icon#today {
    color: var(--color-background-today) !important;
    font-size: 1.4rem !important;
    margin-top: -0.3125rem !important;
}