<div id="wrapper">

    <div id="header">
        <home-button-and-title [featureIcon]="featureIcon" [feature]="feature" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        <button (click)="gotoToday()" [disabled]="currentYearIsNotDisplayedYear()" class="transparent" id="goto-today-button" mat-mini-fab>
            <mat-icon id="today">my_location</mat-icon>
        </button>
        <year-selector (yearEmitter)="doTasksAfterYearSelection($event)" [activeYear]="activeYear"></year-selector>
        <month-selector (monthEmitter)="setActiveMonth($event)"></month-selector>
    </div>

    <div id="content">
        <div id="virtual-scroll-wrapper">
            <cdk-virtual-scroll-viewport id="days" itemSize="0" orientation="horizontal">
                <div *cdkVirtualFor="let day of days" (click)="doReservationTasks(day.date)" [attr.id]="day.date" [ngClass]="{ 'saturday':isSaturday(day), 'sunday':isSunday(day), 'is-today':isToday(day), 'has-schedule':dayHasSchedule(day) }" class="day">
                    <div class="day-data">
                        <div class="weekday">{{ getLocaleWeekdayName(day) }}</div>
                        <div class="date">{{ day.value }}</div>
                        <div class="month">{{ getLocaleMonthName(day) }}</div>
                        <div class="year">{{ getYear(day) }}</div>
                    </div>
                    <div *ngIf="day.destinations != undefined" class="reservation-data">
                        <div class="reservation">
                            <div class="destinations" *ngFor="let destination of day.destinations">
                                <div class="destination-description">{{ destination.abbreviation }}</div>
                                <div class="destination-pax">{{ destination.pax }}</div>
                            </div>
                        </div>
                        <div class="pax">{{ day.pax }}</div>
                    </div>
                    <div *ngIf="day.destinations == undefined" class="no-reservation-data">
                        <span class="material-icons-outlined">do_not_disturb</span>
                    </div>
                </div>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>

    <div id="footer">
        <div class="button-group-right">
            <button mat-flat-button class="primary">{{ getLabel("newRecord") }}</button>
        </div>
    </div>

</div>