#list {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
}

#header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 4rem 1rem 4rem !important;
}

#content {
    height: 100%;
    margin: 0 2rem 0 2rem;
}

#instructions {
    align-items: center;
    background-color: var(--color-f);
    border-radius: 0.1875rem;
    color: var(--color-c);
    display: flex;
    flex-direction: row;
    font-family: var(--font-family-asty);
    font-size: 0.875rem;
    font-weight: 300;
    gap: 0.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

#instructions .material-icons {
    color: var(--color-blue);
}

#footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: auto;
    padding: 1rem 4rem 1rem 4rem;
}

.mat-form-field {
    padding: 0;
}

.no-margin-top {
    margin-top: -1.75rem !important;
}

@media only screen and (max-width: 430px) {
    #content {
        margin: 0 1rem 0 1rem;
    }
    #header {
        display: none;
    }
    #footer {
        margin: auto auto 0 auto;
    }
}