#content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
}

#form {
    flex-direction: column !important;
    gap: 0.5rem;
    width: 80% !important;
}

@media only screen and (max-width: 430px) {
    #form {
        margin: 0 auto;
    }
    #content {
        padding: 0;
        width: 100%;
    }
    #header {
        justify-content: center;
        margin: 0 0 0.5rem 0 !important;
    }
    #footer {
        margin: auto auto 1rem auto;
        padding: 0;
    }
}

@media only screen and (min-width: 431px) {
    #form {
        margin: 1rem auto 0 auto;
    }
    #content {
        padding: 0 4rem;
        width: 90%;
    }
    #header {
        margin: 0 auto 0.5rem 0 !important;
    }
}