<div id="list">

    <div id="header">
        <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
    </div>

    <div id="content">
        <mat-vertical-stepper [linear]="false" #stepper>
            <mat-step>
                <form [formGroup]="searchForm">
                    <ng-template matStepLabel>Identification</ng-template>
                    <mat-radio-group formControlName="selection">
                        <mat-radio-button class="example-radio-button" *ngFor="let option of options" [value]="option">
                            {{ option }}
                        </mat-radio-button>
                    </mat-radio-group>
                    <ng-template [ngIf]="searchForm.value.selection=='Yes'">
                        <ng-template matStepLabel>RefNo</ng-template>
                        <mat-form-field>
                            <input matInput placeholder="I have a refNo" formControlName="refNo">
                        </mat-form-field>
                    </ng-template>
                    <ng-template [ngIf]="searchForm.value.selection=='No'">
                        <ng-template matStepLabel>No RefNo</ng-template>
                        <div formGroupName="complexGroup">
                            <!-- Date -->
                            <div class="group-field">
                                <mat-form-field id="date">
                                    <input (dateChange)="patchFormWithSelectedDate($event)" [matDatepicker]="picker" [placeholder]="getLabel('date')" formControlName="date" matInput>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                    <mat-error *ngIf="date.hasError('required')">{{ getHint("invalid") }}</mat-error>
                                </mat-form-field>
                            </div>
                            <!-- Destination -->
                            <mat-form-field>
                                <mat-label>{{ getLabel("destination") }}</mat-label>
                                <mat-select formControlName="destination">
                                    <mat-option *ngFor="let destination of destinations" [value]="destination.id">
                                        {{ destination.description }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <!-- Lastname -->
                            <mat-form-field>
                                <input [placeholder]="getLabel('lastname')" formControlName="lastname" matInput>
                                <mat-error *ngIf="lastname.hasError('required')">{{ getHint("required") }}</mat-error>
                            </mat-form-field>
                            <!-- Firstname -->
                            <mat-form-field>
                                <input [placeholder]="getLabel('firstname')" formControlName="firstname" matInput>
                                <mat-error *ngIf="firstname.hasError('required')">{{ getHint("required") }}</mat-error>
                            </mat-form-field>
                        </div>
                    </ng-template>
                    <div>
                        <button (click)="doSearch()" mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <form [formGroup]="reservationForm">
                    <ng-template matStepLabel>Reservation summary</ng-template>
                    <div id="reservation-items">
                        <div class="reservation-item">
                            <span class="reservation-item-title">{{ getLabel('refNo') }}</span>
                            <span class="reservation-item-value">{{ reservationForm.value.refNo }}</span>
                        </div>
                        <div class="reservation-item">
                            <span class="reservation-item-title">{{ getLabel('date') }}</span>
                            <span class="reservation-item-value">{{ formatISODateToLocale() }}</span>
                        </div>
                        <div class="reservation-item">
                            <span class="reservation-item-title">{{ getLabel('ticketNo') }}</span>
                            <span class="reservation-item-value">{{ reservationForm.value.ticketNo }}</span>
                        </div>
                        <div class="reservation-item">
                            <span class="reservation-item-title">{{ getLabel('destination') }}</span>
                            <span class="reservation-item-value"> {{ reservationForm.value.destination.description }}</span>
                        </div>
                        <div class="reservation-item">
                            <span class="reservation-item-title">{{ getLabel('customer') }}</span>
                            <span class="reservation-item-value">{{ reservationForm.value.customer.description }}</span>
                        </div>
                        <div class="reservation-item">
                            <span class="reservation-item-title">{{ getLabel('pickupPoint') }}</span>
                            <span class="reservation-item-value">
                                <span>{{ reservationForm.value.pickupPoint.description }}</span><br>
                                <span>{{ reservationForm.value.exactPoint }}</span><br>
                                <span>{{ reservationForm.value.time }}</span>
                            </span>
                        </div>
                        <div class="reservation-item">
                            <span class="reservation-item-title">{{ getLabel('adults') }}</span>
                            <span class="reservation-item-value">{{ reservationForm.value.adults }}</span>
                        </div>
                        <div class="reservation-item">
                            <span class="reservation-item-title">{{ getLabel('kids') }}</span>
                            <span class="reservation-item-value">{{ reservationForm.value.kids }}</span>
                        </div>
                        <div class="reservation-item">
                            <span class="reservation-item-title">{{ getLabel('free') }}</span>
                            <span class="reservation-item-value">{{ reservationForm.value.free }}</span>
                        </div>
                        <div class="reservation-item">
                            <span class="reservation-item-title">{{ getLabel('totalPax') }}</span>
                            <span class="reservation-item-value">{{ reservationForm.value.totalPax }}</span>
                        </div>
                        <div class="reservation-item">
                            <span class="reservation-item-title">{{ getLabel('email') }}</span>
                            <span class="reservation-item-value">{{ reservationForm.value.email }}</span>
                        </div>
                        <div class="reservation-item">
                            <span class="reservation-item-title">{{ getLabel('phones') }}</span>
                            <span class="reservation-item-value">{{ reservationForm.value.phones }}</span>
                        </div>
                        <div class="reservation-item">
                            <span class="reservation-item-title">{{ getLabel('remarks') }}</span>
                            <span class="reservation-item-value">{{ reservationForm.value.remarks }}</span>
                        </div>
                    </div>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Passengers</ng-template>
                <check-in-passenger-list [passengers]="reservationForm.value.passengers"></check-in-passenger-list>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Send email</ng-template>
                <button (click)="onSendEmail()" class="secondary" mat-flat-button>
                    <span>Send boarding pass to my email</span>
                </button>
            </mat-step>
            <ng-template matStepperIcon="edit">
                <!-- <mat-icon>settings</mat-icon> -->
            </ng-template>
            <ng-template matStepperIcon="active">
                <!-- <mat-icon>settings</mat-icon> -->
            </ng-template>
            <ng-template matStepperIcon="done">
                <!-- <mat-icon>settings</mat-icon> -->
            </ng-template>
            <ng-template matStepperIcon="number">
                <!-- <mat-icon>settings</mat-icon> -->
            </ng-template>
        </mat-vertical-stepper>
        {{ reservationForm.value | json }}
    </div>

    <div id="footer">
        <div class="button-group-right">
            <button (click)="showHelpDialog()" class="primary" mat-flat-button>
                <mat-icon class="button-icon">help</mat-icon>
                <span>{{ getLabel("needHelp") }}</span>
            </button>
        </div>
    </div>

    <div *ngIf="isLoading | async">
        <loading-spinner></loading-spinner>
    </div>

</div>