* {
    box-sizing: border-box !important;
}

#dialog {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
}

#dialog-header {
    display: flex;
    justify-content: center;
    padding: 0;
}

#dialog-content {
    color: var(--color-c);
    display: flex;
    font-family: var(--font-family-asty) !important;
    font-weight: var(--font-weight-dialog-content) !important;
    justify-content: center;
    line-height: 2rem;
    overflow: hidden;
    text-align: center;
}

#form {
    width: 100%;
}

#dialog-footer {
    justify-content: center;
    margin-top: auto;
}

.mat-dialog-actions {
    justify-content: center;
    margin: 0;
    min-height: 0;
    padding: 0;
}

@media only screen and (max-width: 430px) {
    #dialog-content {
        font-size: var(--font-size-dialog-text);
    }
}

@media only screen and (min-width: 431px) {
    #dialog-content {
        font-size: var(--font-size-dialog-text);
    }
}