#custom-snackbar {
    align-items: center;
    display: flex;
    justify-content: center;
}

#custom-snackbar div {
    align-items: center;
    color: var(--color-snackbar-text);
    display: flex;
    font-family: var(--font-family-handbook);
    font-size: var(--font-size-snackbar);
    font-weight: var(--font-weight-snackbar);
}
