<div id="form-wrapper">

    <div id="content">
        <mat-card>
            <mat-card-header>
                <div id="header">
                    <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
                </div>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="form" autocomplete="off" data-cy="form">
                    <mat-form-field>
                        <input [inputTabStop]="input" [matDatepicker]="picker" [placeholder]="getLabel('date')" data-cy="date" data-tabindex="1" formControlName="date" id="date" matInput>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="date.hasError('required')">{{ getHint("required") }}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input 
                        (keydown)="enableOrDisableAutoComplete($event)" 
                        (keyup)="checkForEmptyAutoComplete($event)" 
                        [inputTabStop]="input" 
                        [matAutocompleteDisabled]="isAutoCompleteDisabled" 
                        [matAutocomplete]="destinations" 
                        [placeholder]="getLabel('destination')" 
                        data-tabindex="2" 
                        formControlName="destination"
                        matInput
                        >
                        <mat-error *ngIf="destination.hasError('required')">{{ getHint("required") }}</mat-error>
                        <mat-error *ngIf="!destination.hasError('required') && destination.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input 
                        (keydown)="enableOrDisableAutoComplete($event)" 
                        (keyup)="checkForEmptyAutoComplete($event)" 
                        [inputTabStop]="input" 
                        [matAutocompleteDisabled]="isAutoCompleteDisabled" 
                        [matAutocomplete]="ports" 
                        [placeholder]="getLabel('port')" 
                        data-tabindex="3" 
                        formControlName="port" 
                        matInput
                        >
                        <mat-error *ngIf="port.hasError('required')">{{ getHint("required") }}</mat-error>
                        <mat-error *ngIf="!port.hasError('required') && port.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
                    </mat-form-field>
                    <div class="group-field">
                        <mat-form-field>
                            <input [inputTabStop]="input" [placeholder]="getLabel('maxPax')" data-cy="maxPax" data-tabindex="4" formControlName="maxPax" id="maxPax" matInput type="number">
                            <mat-error *ngIf="maxPax.hasError('required')">{{ getHint("required") }}</mat-error>
                            <mat-error *ngIf="!maxPax.hasError('required') && maxPax.hasError('min') || maxPax.hasError('max')">{{ getHint("invalid") }}</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input [inputTabStop]="input" [placeholder]="getLabel('departureTime')" data-cy="departureTime" data-tabindex="5" formControlName="departureTime" id="departureTime" matInput>
                            <mat-error *ngIf="departureTime.hasError('required')">{{ getHint("required") }}</mat-error>
                            <mat-error *ngIf="!departureTime.hasError('required') && !departureTime.hasError('departureTime')">{{ getHint("invalid") }}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="styled-input-square">
                        <div class="styled-input-single">
                            <input data-cy="isActive" formControlName="isActive" id="isActive" type="checkbox">
                            <label data-cy="isActive-label" for="isActive">{{ getLabel("isActive") }}</label>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
        <p class="instructions" [class.hidden]=true>{{ form.value | json }} {{ form.valid }}</p>
    </div>

    <div id="footer">
        <div class="button-group-right">
            <button (click)="onDelete()" *ngIf="form.value.id !== 0" class="delete" data-cy="delete" id="delete" mat-flat-button>{{ getLabel("deleteButton") }}</button>
            <button (click)="onSave()" [disabled]="!form.valid" class="primary" data-cy="save" id="save" mat-flat-button>{{ getLabel("saveButton") }}</button>
        </div>
    </div>

    <div *ngIf="isLoading | async">
        <loading-spinner></loading-spinner>
    </div>

</div>

<mat-autocomplete #destinations="matAutocomplete" [displayWith]="autocompleteFields" autoActiveFirstOption>
    <mat-option *ngFor="let option of activeDestinations | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete #ports="matAutocomplete" [displayWith]="autocompleteFields" autoActiveFirstOption>
    <mat-option *ngFor="let option of activePorts | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>