#login-logo {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 1rem auto;
}

#login-logo-image {
    width: var(--login-logo-image-size);
}

#login-logo-text {
    align-items: center;
    color: var(--color-c) !important;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-logo);
    font-weight: var(--font-weight-logo);
    margin: -0.25rem 0 0 3rem;
}

#login-logo-text #title-top {
    font-family: var(--font-family-asty);
    font-size: 1.25rem;
    font-weight: 100;
}

#login-logo-text #title-middle {
    font-family: var(--font-family-logo);
    font-size: var(--login-logo-text-size);
    transform: scale(1.5, 1.1);
}

#login-logo-text #title-bottom {
    font-family: var(--font-family-asty);
    font-size: 0.75rem;
    font-weight: 100;
}