<div id="list">

    <div id="header">
        <home-button-and-title [featureIcon]="featureIcon" [feature]="feature" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        <div id="criteria">
            <button (click)="resetTableFilters()" class="primary" mat-flat-button>
                <i class="pi pi-filter-slash"></i>
            </button>
        </div>
    </div>

    <div id="content">
        <div id="table-wrapper">
            <p-table #table (onFilter)="filterRecords($event)" [scrollable]="true" [value]="records" [virtualScrollItemSize]="32" [virtualScroll]="true" dataKey="id" scrollHeight="flex" selectionMode="single" sortMode="multiple">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="width-10" pSortableColumn="isActive">{{ getLabel("headerIsActive") }}</th>
                        <th class="width-10" pSortableColumn="coachRouteAbbreviation">{{ getLabel("headerRouteAbbreviation") }}</th>
                        <th class="width-25" pSortableColumn="description">{{ getLabel("headerDescription") }}</th>
                        <th class="width-24" pSortableColumn="exactPoint">{{ getLabel("headerExactPoint") }}</th>
                        <th class="width-6" pSortableColumn="time">{{ getLabel("headerTime") }}</th>
                    </tr>
                    <tr>
                        <th style="padding-left: 1.375rem !important;"><p-columnFilter field="isActive" type="boolean"></p-columnFilter></th>
                        <th class="width-10">
                            <p-columnFilter [showMenu]="false" field="coachRoute" matchMode="in">
                                <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                                    <p-multiSelect (onChange)="filter($event.value)" [ngModel]="value" [options]="distinctRoutes" [placeholder]="getEmoji('wildcard')" optionLabel="description">
                                        <ng-template let-option pTemplate="item">
                                            <div class="p-multiselect-option">
                                                <span>{{ option.description }}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter>
                        <th><input (input)="table.filter($event.target.value, 'description', 'contains')" [value]="$any(table).filters['description']?.value" class="p-inputtext"></th>
                        <th><input (input)="table.filter($event.target.value, 'exactPoint', 'contains')" [value]="$any(table).filters['exactPoint']?.value" class="p-inputtext"></th>
                        <th><input (input)="table.filter($event.target.value, 'time', 'contains')" [value]="$any(table).filters['time']?.value" class="p-inputtext center"></th>
                    </tr>
                </ng-template>
                <ng-template let-record pTemplate="body">
                    <tr [attr.id]=record.id [pSelectableRow]="record" (click)="unHighlightAllRows()" (dblclick)="editRecord(record.id)">
                        <td class="center width-10" style="padding-left: 0.375rem;">
                            <span *ngIf="record.isActive" class="is-active material-icons-outlined">check_circle</span>
                            <span *ngIf="!record.isActive" class="is-not-active material-icons-outlined">highlight_off</span>
                        </td>
                        <td class="center width-10">{{ record.coachRoute.description }}</td>
                        <td class="width-25">{{ record.description }}</td>
                        <td class="width-24">{{ record.exactPoint }}</td>
                        <td class="center width-6">{{ record.time }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <div id="footer">
        <table-total-filtered-records [filteredRecordCount]="recordsFilteredCount" [recordCount]="records.length"></table-total-filtered-records>
        <div class="button-group-right">
            <button (click)="createPdf()" class="secondary" mat-flat-button>{{ getLabel("createPdf") }}</button>
            <button (click)="newRecord()" class="primary" mat-flat-button>{{ getLabel("newRecord") }}</button>
        </div>
    </div>

</div>