#dialog-header {
    display: none !important;
}

#dialog-content {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.mat-dialog-container {
    padding: 1.5rem 1.5rem !important;
}

#dialog-footer {
    margin: 2rem 1rem 0 0;
}

.styled-input-square {
    margin: 1rem 0 0 1rem;
}