:host {
    height: 100%;
}

#table-wrapper {
    margin: 0;
}

#passengers {
    display: flex;
    flex-direction: column;
}

.passenger {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.lastname {
    color: var(--reservation-item-label);
    font-family: var(--font-family-asty);
    font-weight: 300;
}

.firstname {
    color: var(--reservation-item-title);
    font-family: var(--font-family-asty);
    font-weight: 300;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0.5rem 0 0.5rem;
}

.passenger-count-wrapper {
    align-items: center;
    display: flex;
    gap: 0.5rem;
}

.passenger-count-wrapper .material-icons {
    font-size: 2.1875rem;
}

.material-icons.primary {
    color: var(--color-input-focus);
}

.passenger-count-wrapper .material-icons.error:first-child {
    font-size: 1.4rem;
    margin-top: 2px;
}

.passenger-count {
    color: var(--color-c);
    font-family: var(--font-family-asty);
    font-size: 1rem;
    font-weight: 300;
    margin-top: 0.1875rem;
    transition: all var(--theme-change-delay) ease-in;
}

.fa-trash-alt {
    color: var(--color-table-delete-icon) !important;
}

@media only screen and (max-width: 430px) {
    .lastname, .firstname, .passenger-count {
        font-size: 12px;
    }
}

@media only screen and (min-width: 431px) {
    .lastname, .firstname, .passenger-count {
        font-size: 14px;
    }
}

.edit {
    color: var(--color-yellow);
    font-size: 19px;
    display: flex;
    align-items: center;
}

.delete {
    color: var(--color-red);
    font-size: 19px;
    display: flex;
    align-items: center;
}

.fullname {
    display: flex;
    flex-direction: column;
    width: 100%;
}