<div id="wrapper">

    <div id="header">
        <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
    </div>

    <div id="content">
        <form [formGroup]="form" autocomplete="off">
            <mat-accordion>
                <mat-expansion-panel expanded="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Reservation overview</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <div class="group-field">
                            <!-- RefNo -->
                            <mat-form-field>
                                <input [placeholder]="getLabel('refNo')" readonly formControlName="refNo" matInput>
                            </mat-form-field>
                            <!-- Ticket No -->
                            <mat-form-field>
                                <input [placeholder]="getLabel('ticketNo')" formControlName="ticketNo" matInput readonly>
                            </mat-form-field>
                            <!-- Date -->
                            <mat-form-field>
                                <input [placeholder]="getLabel('date')" readonly formControlName="date" matInput>
                            </mat-form-field>
                            <!-- Destination -->
                            <mat-form-field>
                                <input [matAutocomplete]="destinations" [placeholder]="getLabel('destination')" formControlName="destination" matInput readonly>
                            </mat-form-field>
                            <!-- Customer -->
                            <mat-form-field>
                                <input [matAutocomplete]="customers" [placeholder]="getLabel('customer')" formControlName="customer" matInput readonly>
                            </mat-form-field>
                        </div>
                        <div class="group-field">
                            <!-- Pickup Point -->
                            <mat-form-field>
                                <input [matAutocomplete]="pickupPoints" [placeholder]="getLabel('pickupPoint')" formControlName="pickupPoint" matInput readonly>
                            </mat-form-field>
                            <!-- Exact Point -->
                            <mat-form-field style="width: 30% !important;">
                                <input [placeholder]="getLabel('exactPoint')" formControlName="exactPoint" matInput readonly>
                            </mat-form-field>
                            <!-- Time -->
                            <mat-form-field style="width: 30% !important;">
                                <input [placeholder]="getLabel('time')" formControlName="time" matInput readonly>
                            </mat-form-field>
                        </div>
                        <div class="group-field">
                            <!-- Adults -->
                            <mat-form-field>
                                <input [placeholder]="getLabel('adults')" class="number" formControlName="adults" matInput readonly type="number">
                            </mat-form-field>
                            <!-- Kids -->
                            <mat-form-field>
                                <input [placeholder]="getLabel('kids')" class="number" formControlName="kids" matInput readonly type="number">
                            </mat-form-field>
                            <!-- Free -->
                            <mat-form-field>
                                <input [placeholder]="getLabel('free')" class="number" formControlName="free" matInput readonly type="number">
                            </mat-form-field>
                            <!-- Total Pax -->
                            <mat-form-field>
                                <input [placeholder]="getLabel('totalPax')" class="number" formControlName="totalPax" matInput readonly type="number">
                            </mat-form-field>
                        </div>
                        <div class="group-field">
                            <!-- Email -->
                            <mat-form-field>
                                <input [placeholder]="getLabel('email')" formControlName="email" matInput readonly>
                            </mat-form-field>
                            <!-- Phones -->
                            <mat-form-field>
                                <input [placeholder]="getLabel('phones')" formControlName="phones" matInput readonly>
                            </mat-form-field>
                        </div>
                        <div class="group-field" id="remarks">
                            <!-- Remarks -->
                            <mat-form-field>
                                <input [placeholder]="getLabel('remarks')" formControlName="remarks" matInput readonly>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel expanded="false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Passengers</mat-panel-title>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
            </mat-accordion>
        </form>
    </div>

    <div id="footer">
        <div class="button-group-right">
            <button (click)="onSave()" [disabled]="!form.valid || !checkForDifferenceBetweenTotalPaxAndPassengers()" class="primary" mat-flat-button>
                <mat-icon *ngIf="!form.valid || !checkForDifferenceBetweenTotalPaxAndPassengers()" class="button-icon">lock</mat-icon>
                <span>{{ getLabel("saveButton") }}</span>
            </button>
        </div>
    </div>

</div>

<mat-autocomplete #destinations="matAutocomplete" [displayWith]="autocompleteFields" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownDestinations | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete #customers="matAutocomplete" [displayWith]="autocompleteFields" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownCustomers | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete #pickupPoints="matAutocomplete" (optionSelected)="updateFieldsAfterPickupPointSelection($event.option.value)" [displayWith]="autocompleteFields" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownPickupPoints | async" [value]="option">
        <span>{{ option.description.substring(0, 30) }}</span>
        <span>{{ option.exactPoint.substring(0, 30) }}</span>
        <span>{{ option.time }}</span>
    </mat-option>
</mat-autocomplete>

<mat-autocomplete #drivers="matAutocomplete" [displayWith]="autocompleteFields" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownDrivers | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete #ships="matAutocomplete" [displayWith]="autocompleteFields" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownShips | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete #ports="matAutocomplete" [displayWith]="autocompleteFields" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownPorts | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<ng-template #voucherMenu xPosition="before">
    <button mat-menu-item class="reverse" (click)="doVoucherTasksOnServer()"><span>{{ getLabel('createVoucherOnServer') }}</span></button>
    <button mat-menu-item class="reverse" (click)="doVoucherTasksOnClient()"><span>{{ getLabel('createVoucherOnClient') }}</span></button>
</ng-template>