<div id="wrapper">

    <div id="header">
        <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
    </div>

    <div id="content">
        <form [formGroup]="form" autocomplete="off">
            <div id="instructions">
                <div class="material-icons">info</div>
                <div>{{ getLabel("reservationInstructions") }}</div>
            </div>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{ getLabel("reservationExpander") }}</mat-panel-title>
                    </mat-expansion-panel-header>
                    <ng-template matExpansionPanelContent>
                        <div id="reservation-items">
                            <div class="reservation-item">
                                <span class="reservation-item-title">{{ getLabel('date') }}</span>
                                <span class="reservation-item-value">{{ formatISODateToLocale() }}</span>
                            </div>
                            <div class="reservation-item">
                                <span class="reservation-item-title">{{ getLabel('refNo') }}</span>
                                <span class="reservation-item-value">{{ form.value.refNo }}</span>
                            </div>
                            <div class="reservation-item">
                                <span class="reservation-item-title">{{ getLabel('ticketNo') }}</span>
                                <span class="reservation-item-value">{{ form.value.ticketNo }}</span>
                            </div>
                            <div class="reservation-item">
                                <span class="reservation-item-title">{{ getLabel('destination') }}</span>
                                <span class="reservation-item-value"> {{ form.value.destination.description }}</span>
                            </div>
                            <div class="reservation-item">
                                <span class="reservation-item-title">{{ getLabel('customer') }}</span>
                                <span class="reservation-item-value">{{ form.value.customer.description }}</span>
                            </div>
                            <div class="reservation-item">
                                <span class="reservation-item-title">{{ getLabel('pickupPoint') }}</span>
                                <span class="reservation-item-value">
                                    <span>{{ form.value.pickupPoint.description }}</span><br>
                                    <span>{{ form.value.exactPoint }}</span><br>
                                    <span>{{ form.value.time }}</span>
                                </span>
                            </div>
                            <div class="reservation-item">
                                <span class="reservation-item-title">{{ getLabel('adults') }}</span>
                                <span class="reservation-item-value">{{ form.value.adults }}</span>
                            </div>
                            <div class="reservation-item">
                                <span class="reservation-item-title">{{ getLabel('kids') }}</span>
                                <span class="reservation-item-value">{{ form.value.kids }}</span>
                            </div>
                            <div class="reservation-item">
                                <span class="reservation-item-title">{{ getLabel('free') }}</span>
                                <span class="reservation-item-value">{{ form.value.free }}</span>
                            </div>
                            <div class="reservation-item">
                                <span class="reservation-item-title">{{ getLabel('totalPax') }}</span>
                                <span class="reservation-item-value">{{ form.value.totalPax }}</span>
                            </div>
                            <div class="reservation-item">
                                <span class="reservation-item-title">{{ getLabel('email') }}</span>
                                <span class="reservation-item-value">{{ form.value.email }}</span>
                            </div>
                            <div class="reservation-item">
                                <span class="reservation-item-title">{{ getLabel('phones') }}</span>
                                <span class="reservation-item-value">{{ form.value.phones }}</span>
                            </div>
                        </div>
                    </ng-template>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{ getLabel("passengersExpander") }}</mat-panel-title>
                    </mat-expansion-panel-header>
                    <ng-template matExpansionPanelContent>
                        <check-in-passenger-list [passengers]="form.value.passengers" [reservationId]="form.value.reservationId" (outputPassengerCount)="getPassengerDifferenceColor($event)" (outputPassengers)="doTasksAfterPassengerFormIsClosed($event)"></check-in-passenger-list>
                    </ng-template>
                </mat-expansion-panel>
            </mat-accordion>
        </form>
    </div>

    <div id="footer">
        <div class="button-group-right">
            <button (click)="onSave()" [disabled]="!form.valid || !checkForDifferenceBetweenTotalPaxAndPassengers()" class="primary" mat-flat-button>
                <mat-icon *ngIf="!form.valid || !checkForDifferenceBetweenTotalPaxAndPassengers()" class="button-icon">lock</mat-icon>
                <span>{{ getLabel("saveButton") }}</span>
            </button>
        </div>
    </div>

</div>

<mat-autocomplete #destinations="matAutocomplete" [displayWith]="autocompleteFields" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownDestinations | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete #customers="matAutocomplete" [displayWith]="autocompleteFields" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownCustomers | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete #pickupPoints="matAutocomplete" (optionSelected)="updateFieldsAfterPickupPointSelection($event.option.value)" [displayWith]="autocompleteFields" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownPickupPoints | async" [value]="option">
        <span>{{ option.description.substring(0, 30) }}</span>
        <span>{{ option.exactPoint.substring(0, 30) }}</span>
        <span>{{ option.time }}</span>
    </mat-option>
</mat-autocomplete>

<mat-autocomplete #drivers="matAutocomplete" [displayWith]="autocompleteFields" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownDrivers | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete #ships="matAutocomplete" [displayWith]="autocompleteFields" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownShips | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete #ports="matAutocomplete" [displayWith]="autocompleteFields" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownPorts | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<ng-template #voucherMenu xPosition="before">
    <button mat-menu-item class="reverse" (click)="doVoucherTasksOnServer()"><span>{{ getLabel('createVoucherOnServer') }}</span></button>
    <button mat-menu-item class="reverse" (click)="doVoucherTasksOnClient()"><span>{{ getLabel('createVoucherOnClient') }}</span></button>
</ng-template>