#wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#content {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 2rem;
    overflow-y: scroll;
}

#instructions {
    align-items: center;
    background-color: var(--color-f);
    border-radius: 0.1875rem;
    color: var(--color-c);
    display: flex;
    flex-direction: row;
    font-family: var(--font-family-asty);
    font-size: 0.875rem;
    font-weight: 300;
    gap: 0.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

#instructions .material-icons {
    color: var(--color-blue);
}

.group-field {
    display: flex;
    flex-direction: row;
}

#header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 4rem 1rem 4rem !important;
}

#header-buttons {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

#form {
    display: flex;
    flex-direction: row !important;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    scroll-snap-type: x mandatory;
}

#footer {
    display: flex;
    padding: var(--gap) 4rem 1rem 4rem;
}

.hide-autocomplete {
    display: none;
}

#reservation-items {
    display: flex;
    flex-direction: column;
}

.reservation-item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.reservation-item-title {
    color: var(--color-yellow);
    font-family: var(--font-family-asty);
    font-weight: 300;
    width: 40%;
}

.reservation-item-value {
    color: var(--color-green);
    font-family: var(--font-family-asty);
    font-weight: 300;
}

@media only screen and (max-width: 430px) {
    #form {
        margin: 0 auto;
    }
    #content {
        margin: 0 1rem 0 1rem;
    }
    #header {
        display: none;
    }
    #footer {
        margin: auto auto 1rem auto;
        padding: 0;
    }
    .group-field {
        flex-direction: column;
    }
    .reservation-item-title {
        font-size: 12px;
    }
    .reservation-item-value {
        font-size: 12px;
    }
}

@media only screen and (min-width: 431px) {
    #form {
        margin: 1rem auto 0 auto;
    }
    .group-field {
        flex-direction: row;
    }
    .reservation-item-title {
        font-size: 14px;
    }
    .reservation-item-value {
        font-size: 14px;
    }
}