#footer {
    color: var(--color-c);
    font-family: var(--font-family-asty);
    font-size: 0.7rem;
    font-weight: 100;
    text-align: center;
}

a:link, a:visited {
    color: var(--color-c);
    text-decoration: none;
}

a:link:hover {
    color: var(--color-link);
    transition: all var(--theme-change-delay) ease-in;
}
