<div id="form-wrapper">

    <div id="content">
        <mat-card>
            <mat-card-header>
                <div id="header">
                    <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
                </div>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]='form' autocomplete="off" data-cy="form">
                    <div class="group-field">
                        <mat-form-field>
                            <input [inputTabStop]="input" [placeholder]="getLabel('fullname')" data-cy="fullname" data-tabindex="1" formControlName="fullname" id="fullname" matInput>
                            <mat-error *ngIf="fullname.hasError('required')">{{ getHint("required") }}</mat-error>
                            <mat-error *ngIf="fullname.hasError('maxlength')">{{ getHint("maxLength", fullname.errors.maxlength.requiredLength) }}</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="ships" [placeholder]="getLabel('ship')" data-cy="ship-description" data-tabindex="2" formControlName="ship" matInput>
                            <mat-error *ngIf="ship.hasError('required')">{{ getHint("required") }}</mat-error>
                            <mat-error *ngIf="!ship.hasError('required') && ship.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="group-field">
                        <mat-form-field>
                            <input [inputTabStop]="input" [placeholder]="getLabel('phones')" data-cy="phones" data-tabindex="3" formControlName="phones" id="phones" matInput>
                            <mat-error *ngIf="phones.hasError('maxlength')">{{ getHint("maxLength", phones.errors.maxlength.requiredLength) }}</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input [inputTabStop]="input" [placeholder]="getLabel('email')" data-cy="email" data-tabindex="4" formControlName="email" id="email" matInput>
                            <mat-error *ngIf="email.hasError('maxlength')">{{ getHint("maxLength", email.errors.maxlength.requiredLength) }}</mat-error>
                            <mat-error *ngIf="!email.hasError('maxlength') && email.hasError('email')">{{ getHint("invalid") }}</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input [inputTabStop]="input" [placeholder]="getLabel('fax')" data-cy="fax" data-tabindex="5" formControlName="fax" id="fax" matInput>
                            <mat-error *ngIf="fax.hasError('maxlength')">{{ getHint("maxLength", fax.errors.maxlength.requiredLength) }}</mat-error>
                        </mat-form-field>
                    </div>
                    <mat-form-field>
                        <input [inputTabStop]="input" [placeholder]="getLabel('address')" data-cy="address" data-tabindex="6" formControlName="address" id="address" matInput>
                        <mat-error *ngIf="address.hasError('maxlength')">{{ getHint("maxLength", address.errors.maxlength.requiredLength) }}</mat-error>
                    </mat-form-field>
                    <div class="styled-input-square">
                        <div class="styled-input-single">
                            <input data-cy="isPrimary" formControlName="isPrimary" id="isPrimary" type="checkbox">
                            <label data-cy="isPrimary-label" for="isPrimary">{{ getLabel("isPrimary") }}</label>
                        </div>
                    </div>
                    <div class="styled-input-square">
                        <div class="styled-input-single">
                            <input data-cy="isActive" formControlName="isActive" id="isActive" type="checkbox">
                            <label data-cy="isActive-label" for="isActive">{{ getLabel("isActive") }}</label>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
        <p class="instructions" [class.hidden]=true>{{ form.value | json }} {{ form.valid }}</p>
    </div>

    <div id="footer">
        <div class="button-group-right">
            <button (click)="onDelete()" *ngIf="form.value.id !== 0" class="delete" data-cy="delete" id="delete" mat-flat-button>{{ getLabel("deleteButton") }}</button>
            <button (click)="onSave()" [disabled]="!form.valid" class="primary" data-cy="save" id="save" mat-flat-button>{{ getLabel("saveButton") }}</button>
        </div>
    </div>

    <div *ngIf="isLoading | async">
        <loading-spinner></loading-spinner>
    </div>

</div>

<mat-autocomplete #ships="matAutocomplete" [displayWith]="autocompleteFields" autoActiveFirstOption>
    <mat-option *ngFor="let option of activeShips | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>