button {
    background-color: transparent;
}

.sub-menu {
    right: 0;
}

.sub-menu button {
    border-top: 1px solid var(--color-dropdown-menu-border);
    border-right: 1px solid var(--color-dropdown-menu-border);
    border-bottom: 0;
    border-left: 1px solid var(--color-dropdown-menu-border);
}

.sub-menu button:last-child {
    border-bottom: 1px solid var(--color-dropdown-menu-border);
}