.mat-tooltip {
    color: var(--color-button-text) !important;
    font-family: var(--font-family-asty);
    font-weight: var(--font-weight-tooltip);
}

.tooltip-background {
    background: var(--color-b);
}
