@media only screen and (max-width: 1440px) {
    * {
        --font-size-input-hint: 80%;
        --font-size-input: 14px;
        --font-size-logo-text: 200%;
        --font-size-summary-block-item: 1rem;
        --gap: 1rem;
    }
}