@media only screen and (min-width: 1441px) {
    * {
        --font-size-input-hint: 90%;
        --font-size-input: 15px;
        --font-size-logo-text: 300%;
        --font-size-summary-block-item: 1.2rem;
        --gap: 2rem;
    }
}