#wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#content {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    margin: 0 2.8rem 0 3rem;
}

#days {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}

.day {
    background-color: var(--color-b);
    border-radius: 0.625rem;
    border: 1px solid var(--color-a);
    display: flex;
    flex-direction: column;
    max-width: 11rem;
    min-width: 11rem;
    padding: 1rem;
    scroll-snap-align: start;
}

.day:hover {
    cursor: no-drop;
}

.day-data {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
}

.day-data .weekday, .day-data .month {
    color: var(--color-c);
    font-family: var(--font-family-manrope);
    font-size: 1rem;
}

.day-data .date {
    color: var(--color-c);
    font-family: var(--font-family-montserrat);
    font-size: 1.8rem;
    text-align: center;
    width: 3rem;
}

.no-reservation-data {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.no-reservation-data span {
    color: rgb(0 0 0 /10%);
    font-size: 4rem;
}

.reservation-data {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

.reservation {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    width: 100%;
}

.destinations {
    border-radius: 0.3rem;
    color: var(--color-c);
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-montserrat);
    font-size: 0.8rem;
    justify-content: space-between;
    margin: 0.4rem 0;
    padding: 0.5rem;
}

.destinations:hover {
    background-color: rgb(0 0 0 /10%);
    color: var(--color-button-text);
    cursor: pointer;
    transition: all var(--theme-change-delay) ease-in;
}

.destination-description {
    font-size: 1rem;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 20rem;
}

.ports {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.saturday {
    background-color: var(--color-background-saturday);
}

.sunday {
    background-color: var(--color-background-sunday);
}

.is-today {
    background-color: var(--color-background-today) !important;
}

#goto-today-button {
    background-color: transparent !important;
    margin: 0 1rem 0 auto !important;
}

.mat-icon#today {
    color: var(--color-background-today) !important;
    font-size: 1.4rem !important;
    margin-top: 1px !important;
}